<table class="table-view">
    <tbody>
        <tr>
            <th>ID</th>
            <td><%= @user.id %></td>
        </tr>
        <tr>
            <th>GROUP</th>
            <td><%= group_2_display_4_converting(@user.group) %></td>
        </tr>
        <tr>
            <th>STATUS</th>
            <td><%= @user.status %></td>
        </tr>
        <tr>
            <th>ニックネーム</th>
            <td><%= @user.user_datum.nickname %></td>
        </tr>
        <tr>
            <th>名前</th>
            <td><%= @user.user_datum.family_name %>&nbsp;<%= @user.user_datum.first_name %></td>
        </tr>
        <tr>
            <th>名前(カナ)</th>
            <td><%= @user.user_datum.family_name_kana %>&nbsp;<%= @user.user_datum.first_name_kana %></td>
        </tr>
        <tr>
            <th>性別</th>
            <td><%= sex_2_display_4_converting(@user.user_datum.sex) %></td>
        </tr>
        <tr>
            <th>誕生日</th>
            <td><%= @user.user_datum.birthday %></td>
        </tr>
        <tr>
            <th>都道府県</th>
            <td><%= @user.user_datum.prefecture.name %></td>
        </tr>
        <tr>
            <th>登録日</th>
            <td><%= @user.user_datum.created_at %></td>
        </tr>
    </tbody>
</table>

<table class="table-view">
    <tbody>
        <tr>
            <% @user.user_mail.each do |mail| %>
            <th>メールアドレス</th>
            <td><%= mail.mail_account %>@<%= mail.mail_domain %></td>
            <% end %>
        </tr>
    </tbody>
</table>

<%= link_to 'Back', users_path, {class: 'btn btn-warning btn-block', 'style' => 'margin-bottom: 10px;'} %>
<%= link_to 'Destroy', '#', {:class => 'btn btn-danger btn-block', 'data-toggle' => 'modal', 'data-target' => "#modal-example-#{@user.id}"} %>
<%= render 'elements/modal/user_delete', user: @user %>
